[submodule "docs/openadstack/openadstack"]
	path = docs/openadstack/openadstack
	url = git@github.com:openads-project/openadstack.git
	; TODO: change to main
	branch = openadstack
[submodule "docs/openadsim/openadsim"]
	path = docs/openadsim/openadsim
	url = git@gitlab.ika.rwth-aachen.de:fb-fi/its-compositions/simulation-platform.git
	; TODO: change to main
	branch = openadsim
