[submodule "docs/openadstack/openadstack"]
	path = docs/openadstack/openadstack
	url = git@github.com:openads-project/openadstack.git
	branch = main
[submodule "docs/openadsim/openadsim"]
	path = docs/openadsim/openadsim
	url = git@github.com:openads-project/openadsim.git
	branch = main
